@charset "UTF-8";

* {
    box-sizing: border-box;
 }

body{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

h2{
    font-size: 72px;
    color: #0092C3;
    text-align: center;
    position: relative;
}

 h2::before{
    display: inline-block;
    position: absolute;
    width: 118px;
    height: 5px;
    background-image: linear-gradient(to right, #FFD36A 20%, #E7EF2D 100%);
    content: '';
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


/*　recruitボタン　*****************************/
.recruit a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    width: 300px;
    color: #0092C3;
    font-size: 15px;
    font-weight: 700;
    background-image: linear-gradient(to right, #FFD36A 20%, #E7EF2D 100%);
    transition: 0.3s;
  }
  
  .recruit a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #0092C3;
    transition: 0.3s;
  }
    
  .recruit a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #0092C3;
    transition: 0.3s;
  }
    
  .recruit a:hover {
    text-decoration: none;
    background-color: #0092C3;
  }
    
  .recruit a:hover::before,
  .recruit a:hover::after {
    right: 0.5em;
  }

/*　view moreボタン　*****************************/

.view-more a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #0092C3;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border:1px solid #0092C3;
  transition: 0.3s;
}

.view-more a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #2285b1;
    transition: 0.3s;
}
  
.view-more a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #2285b1;
    transition: 0.3s;
}
  
.view-more a:hover {
    text-decoration: none;
    background-color: hsla(198, 68%, 41%, 0.486);
}
  
.view-more a:hover::before,
.view-more a:hover::after {
    right: 0.5em;
}

/*　ヘッダー　*****************************/
header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
}

header img  {
      height: 27px;
}

nav {
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #666;
}

ul{
    list-style: none;
}

li {
    font-size: 18px;
}

/*　メインビジュアル　*****************************/
.main-visual{
    background: url(image/ux-788002_1920.jpg);
    background-size: cover;
    position: relative;
    height:802px;
    margin-bottom: 500px;
}

.main-visual::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0092c3c9;
}

.main-visual-item{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    font-size:30px;
    font-weight:bold;
    letter-spacing:1px;
    color:#fff;
}


.recruit img{
    position: absolute;
    top:10px;
    left:200%;
    width: 1000px;
    height: 800px;
    border-radius: 30px;
}


/*　サービス　*****************************/　
.service-wrap{
    text-align: center;
    margin-bottom: 100px;
}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.card-item{
    width: 338px;
    height: 384px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
  }
  .card__imgframe{
    width: 100%;
    height: 235px;
    padding-top: 56.25%;
    background-image: url(image/ux-788002_1920.jpg);
    box-sizing: border-box;
  }
  .card__textbox{
    width: 100%;
    height: 384px;
    padding: 20px 18px;
    background: #fff;
    box-sizing: border-box;
  }
  .card__textbox > * + *{
    margin-top: 10px;
  }
  .card__titletext{
    font-size: 20px;
    color: #0092C3;
    font-weight: bold;
    line-height: 125%;
    text-align: center;
  }
  .card__overviewtext{
    font-size: 12px;
    color: #666;
    line-height: 150%;
  }


/*　ニュース　*****************************/

  .news-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .news-title{
      margin-right: 75px;
  }

.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 1000px;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    border-bottom: 1px dashed #ddd;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px dashed #ddd;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #0092C3;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #0092C3;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .title{
    color: #666;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }

/*　About　*****************************/
  .card-b{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.card-item-b{
    width: 338px;
    height: 384px;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(image/ux-788002_1920.jpg);
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.card__title-b{
    position: relative;
    height: 54px;
}
.card__title-b p {
    position: absolute;
    top:20px;
    border-radius: 40px;
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0.5em 4em;
    width: 300px;
    color: #0092C3;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    transition: 0.3s;
 }
  
.card__title-b img {
    width: 100%;
}

.card__text-b{
    text-align: center;
    margin-top: 70px;
    color: white;/*文字を白に*/
    font-size: 60px;
    line-height: 1;/*行高は1に*/
    padding: 5px 10px;/*文字周りの余白*/  
}

/*　footer　*****************************/
footer{
    margin-top: 100px;
}

.footer-nav a{
    color: #333;
}

.footer-nav{
    display: flex;
}

.footer-nav ul{
    background-color: #F4F4F4;
    height: 500px;
    width: 100%;
    justify-content: center;
}

.footer-nav ul li{
    width: 300px;
    margin: 20px 20px;
}

.footer-nav ul li a{
    display: block;
    padding-bottom: 30px;
    font-size: 15px;
    color: #666;
}

.footer-nav ul li h3{
    font-size: 18px;
    font-weight: bold;
    color: #0092C3;
    padding-bottom: 12px;
    border-bottom: 1px solid #666;
}

.sns{
    text-align: center;
    margin-bottom: 50px;
}

.sns i{
    padding-right: 30px;
}

.sns i:last-child{
    padding-right: none;
}

.footer-line{
    background-color: #0092C3;
    padding-top: 54px;
    padding-bottom: 54px;
    height: 277px;
    color:#fff;
}

.footer-line ul{
    justify-content: center;
    margin-bottom: 40px;
    font-size: 15px;
}

.footer-line a{
    color: #fff;
}

.footer-line p{
    text-align: center;
    font-size: 12px;
}