@charset "UTF-8";

* {
    box-sizing: border-box;
 }

body{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffa2a2;
}

.view-more a{
    display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  transition: 0.3s;
}

.view-more a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 1em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #2285b1;
    transition: 0.3s;
  }
  
  .view-more a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #2285b1;
    transition: 0.3s;
  }
  
  .view-more a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
  }
  
  .view-more a:hover::before,
  .view-more a:hover::after {
    right: 0.5em;
  }

/*　ヘッダー　*****************************/
header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    align-items: center;
}

header img  {
      height: 27px;
}

nav {
    margin: 0 0 0 auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 30px;
    font-size: 18px;
}

 /*　メインビジュアル　*****************************/
.main-visual{
    background: url(image/ux-788002_1920.jpg);
    background-size: cover;
    position: relative;
    height:502px;
}

.main-visual::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0092c3c9;
}

.main-visual-item{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    font-size:20px;
    font-weight:bold;
    letter-spacing:5px;
    color:#fff;
}

 /*　サービス　*****************************/　
.service-wrap{
    text-align: center;
}

.service-wrap h2{
    font-size: 72px;
    text-align: center;
    position: relative;
}

.service-wrap h2::before{
    display: inline-block;
    position: absolute;
    width: 118px;
    height: 5px;
    border-radius: 2px;
    background-color: #3F51B5;
    content: '';
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.card-item{
    width: 338px;
    height: 384px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    margin-bottom: 244px;
  }
  .card__imgframe{
    width: 100%;
    height: 235px;
    padding-top: 56.25%;
    background-image: url(image/ux-788002_1920.jpg);
    box-sizing: border-box;
  }
  .card__textbox{
    width: 100%;
    height: 384px;
    padding: 20px 18px;
    background: #fff;
    box-sizing: border-box;
  }
  .card__textbox > * + *{
    margin-top: 10px;
  }
  .card__titletext{
    font-size: 20px;
    color: #0092C3;
    font-weight: bold;
    line-height: 125%;
  }
  .card__overviewtext{
    font-size: 12px;
    color: #666;
    line-height: 150%;
  }

  /*　ニュース　*****************************/

  .news-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
  }

  .news-title{
      margin-right: 75px;
  }

  .news-title h2{
    font-size: 72px;
    text-align: center;
    position: relative;
}

  .news-title h2::before{
    display: inline-block;
    position: absolute;
    width: 118px;
    height: 5px;
    border-radius: 2px;
    background-color: #3F51B5;
    content: '';
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

  .news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;



    display: flex;
    flex-flow: column;
    width: 760px;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #CCC;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #999;
    padding: 0 20px 0 0;
  }
  .news-list .item .category{
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
  }
  .news-list .item .category span{
    background: #999;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 1;
  }
  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: #00F;
  }
  
  @media screen and (max-width: 767px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
