@charset "UTF-8";

/*top*************************************/
.top{
  position: relative;
}

.top_content{
  background-image: url(../../../image/top_image.jpg);
  background-size: cover;
  width: 100%;
  height: 502px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.top_content::after {
  content: '';
  background-color: #0092c3d0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.top_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.top_wrap_title{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-bottom: 35px;
  position:relative;
  z-index: 3;
}

.top_wrap_subtitle span{
  position:relative;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-135deg, #E7EF2D, #FFD36A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*GAMEservice*************************************/

.GAMEservice{
  background-color: #ffffff;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 78px;
}

.GAMEservice_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.GAMEservice_wrap_title{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
  color: #0092C3;
  margin: 0 50px 80px 50px;
}


.GAMEservice_wrap_card ul{
  display: flex;
  gap: 42px;
  justify-content: center;
  flex-wrap: wrap;
}

.GAMEservice_wrap_card ul li{
  width: 520px;
  height: 384px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.GAMEservice_wrap_card_img{
  width: 520px;
  height: 242px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

.GAMEservice_wrap_card_img img{
  transition:1s all;
}

.GAMEservice_wrap_card_img img:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
}

.GAMEservice_wrap_card_textarea_title{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 37px;
  position: relative;
  color: #0092C3;
}

.GAMEservice_wrap_card_textarea_title::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -17px; /*下線の上下位置調整*/
  display: inline-block;
  width: 66px; /*下線の幅*/
  height: 4px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #0092C3; /*下線の色*/
}

.GAMEservice_wrap_card_textarea_text{
  font-size: 12px;
  margin-top: 12px;
}




/*OTHER_service*************************************/
.OTHERservice{
  background-color: #ffffff;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 78px;
}

.OTHERservice_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.OTHERservice_wrap_title{
  font-size: 72px;
  font-weight: bold;
  color: #0092C3;
  display: inline-block;
  position: relative;
  margin-bottom: 70px;
  letter-spacing: 2px;
}

.OTHERservice_wrap_title::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 118px; /*下線の幅*/
  height: 6px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background: linear-gradient(-135deg, #E7EF2D, #FFD36A); /*下線の色*/
}

.OTHERservice_wrap_card ul{
  display: flex;
  gap: 42px;
  justify-content: center;
  flex-wrap: wrap;
}

.OTHERservice_wrap_card ul li{
  width: 520px;
  height: 384px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.OTHERservice_wrap_card_img{
  width: 520px;
  height: 242px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

.OTHERservice_wrap_card_img img{
  transition:1s all;
}

.OTHERservice_wrap_card_img img:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
}

.OTHERservice_wrap_card_textarea_title{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 37px;
  position: relative;
  color: #0092C3;
}

.OTHERservice_wrap_card_textarea_title::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -17px; /*下線の上下位置調整*/
  display: inline-block;
  width: 66px; /*下線の幅*/
  height: 4px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #0092C3; /*下線の色*/
}

.OTHERservice_wrap_card_textarea_text{
  font-size: 12px;
  margin-top: 12px;
}

/*PCサイズ以下の設定******************************************************/
@media only screen and (max-width: 991px){
  
  .service_wrap_card_img{
    width: 348px;
    height: 300px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .service_wrap_card_img img:hover{
    transform:scale(1.2,1.2);
    transition:1s all;
  }
  
  .service_wrap_card_textarea{
    text-align: left;
  }
  
  .service_wrap_card_textarea_title{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 27px;
    position: relative;
    color: #0092C3;
  }
  
  .service_wrap_card_textarea_subtitle{
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .service_wrap_card_textarea_title::before{
    content: '';
    position: absolute;
    bottom: -13px; /*下線の上下位置調整*/
    display: inline-block;
    width: 118px; /*下線の幅*/
    height: 4px; /*下線の太さ*/
    transform: translate(0%); /*位置調整*/
    background-color: #0092C3; /*下線の色*/
  }
  
  .service_wrap_card_textarea_text{
    font-size: 12px;
    margin-top: 10px;
    line-height: 30px;
    margin-bottom: 80px;
  }
  
  .service_wrap_card_textarea_text:last-child{
    margin-bottom: 0;
  }  
}