@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  opacity: 0.7;
}

/*header*************************************/
header{
  background-color: rgba(255, 255, 255, 0.89);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index:9996;
}

.header_wrap{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_wrap_img{
  padding-bottom: 5px;
}

.header_wrap_list ul{
  display: flex;
  font-size: 18px;
}

.header_wrap_list ul li{
  margin-left: 50px;
}

.header_wrap_list ul li:first-child{
  margin-left: 0;
}

/*ハンバーガーメニュー*/

.input-hidden{
	display: none;
}
	/* label */
.hamburger-demo-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top: 5px; /* ハンバーガーアイコンの位置（上から） */
	z-index: 9999;
	width: 4em; /* アイコン（クリック可能領域）の幅 */
	height: 4em; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 25px;
	height: 3px;
	background: #0092C3;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fff;
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	top: 0;
	left: 100%;
	width: 70%;
}

.hamburger-demo-menulist li a{
	color: #0092C3;
  font-weight: bold;
	display: block;
	padding: 20px 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 50%;
}
	/* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;
}
/* PCではハンバーガーメニューを表示しない */
@media (min-width: 992px){
	.hamburger-demo-menubox{
		display: none;
	}
}

/*footer*************************************/

footer{
  background-color: #0092C3;
  width: 100%;
}

.footer_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_wrap_top{
  background-color: #F4F4F4;
  width: 100%;
  padding-bottom: 54px;
  display: flex;
  justify-content: center;
  gap: 98px;
}

.footer_wrap_top_list{
  max-width: 1100px;
  width: 200px;
  margin-top: 50px;
}

.footer_wrap_top_list_title{
  font-size: 18px;
  color: #0092C3;
  font-weight: bold;
  padding-bottom: 17px;
  margin-bottom: 28px;
  border-bottom: 1px solid #666666;
}

.footer_wrap_top_list_text ul li{
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

.footer_wrap_top_list_sub{
  margin-top: 100px;
}

.footer_wrap_top_list_sub p{
  font-size: 18px;
  color: #0092C3;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_wrap_bottom{
  max-width: 1100px;
  width: 100%;
  margin-top: 44px;
  margin-bottom: 44px;
}

.footer_wrap_bottom_sns ul{
  display: flex;
  justify-content: center;
  gap:38px;
  color: #fff;
  margin-bottom: 30px;
}

.footer_wrap_bottom_list ul{
  display: flex;
  justify-content: center;
  gap:60px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer_wrap_bottom_mark{
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.footer_wrap_bottom_mark img{
  margin-right: 15px;
}

.footer_wrap_bottom_mark img:last-child{
  margin-right: 0;
}


.footer_wrap_bottom p{
  text-align: center;
  color: #fff;
  font-size: 12px;
}


/*PCサイズ以下の設定******************************************************/
@media screen and (min-width:800px) and ( max-width:990px){
  .header_wrap_list{
    display: none;
  }
  #hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
    left: 70%;
  }

  .header_wrap_img{
    margin-left: 30px;
  }
}

@media screen and (max-width: 799px){
    /*header*************************************/

  .header_wrap_list{
    display: none;
  }

  .header_wrap_img{
    margin-left: 30px;
  }

  /*top*************************************/
  
  .top_content{
    background-image: url(image/top_image.jpg);
    background-size: cover;
    width: 100%;
    height: 502px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .top_content::after {
    content: '';
    background-color: #0092c3d0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .top_wrap{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }

  .top_wrap_title{
    font-size: 20px;
    line-height: 50px;
  }


  /*news*************************************/
  
  .news_wrap_right ul li{
    font-size: 12px;
  }

  .news_wrap_right_category{
    width: 80px;
    height: 20px;
  }

  /*footer*************************************/

  .footer_wrap_top{
    gap: 50px;
    flex-wrap: wrap;
  }

  .footer_wrap_top_list{
    width: 300px;
  }

  .footer_wrap_top_list_title{
    font-size: 15px;
  }

  .footer_wrap_top_list_text ul li{
    font-size: 12px;
  }

  .footer_wrap_top_list_sub{
    margin-top: 70px;
  }

  .footer_wrap_top_list_sub p{
    font-size: 15px;
  }

  .footer_wrap_bottom{
    max-width: 1100px;
    width: 100%;
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .footer_wrap_bottom_list ul{
    flex-wrap: wrap;
    gap:20px;
    font-size: 12px;
  }
}