@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*header*************************************/
header{
  background-color: rgba(255, 255, 255, 0.89);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
}

.header_wrap{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header_wrap_list ul{
  display: flex;
  font-size: 18px;
  margin-left: 167px;
}

.header_wrap_list ul li{
  margin-left: 50px;
}

.header_wrap_list ul li:first-child{
  margin-left: 0;
}



/*footer*************************************/

footer{
  background-color: #0092C3;
  width: 100%;
}

.footer_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_wrap_top{
  background-color: #F4F4F4;
  width: 100%;
  padding-bottom: 54px;
  display: flex;
  justify-content: center;
  gap: 98px;
}

.footer_wrap_top_list{
  max-width: 1100px;
  width: 200px;
  margin-top: 50px;
}

.footer_wrap_top_list_title{
  font-size: 18px;
  color: #0092C3;
  font-weight: bold;
  padding-bottom: 17px;
  margin-bottom: 28px;
  border-bottom: 1px solid #666666;
}

.footer_wrap_top_list_text ul li{
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

.footer_wrap_top_list_sub{
  margin-top: 100px;
}

.footer_wrap_top_list_sub p{
  font-size: 18px;
  color: #0092C3;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_wrap_bottom{
  max-width: 1100px;
  width: 100%;
  margin-top: 44px;
  margin-bottom: 44px;
}

.footer_wrap_bottom_sns ul{
  display: flex;
  justify-content: center;
  gap:38px;
  color: #fff;
  margin-bottom: 30px;
}

.footer_wrap_bottom_list ul{
  display: flex;
  justify-content: center;
  gap:60px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer_wrap_bottom_mark{
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}


.footer_wrap_bottom p{
  text-align: center;
  color: #fff;
  font-size: 12px;
}