@charset "UTF-8";
/*top*************************************/
.top{
  position: relative;
}

.top_content{
  background-image: url(../../image/top_image.jpg);
  background-size: cover;
  width: 100%;
  height: 502px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.top_content::after {
  content: '';
  background-color: #0092c3d0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.top_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.top_wrap_title{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  margin-bottom: 35px;
  position:relative;
  z-index: 3;
}

.top_wrap_subtitle span{
  position:relative;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-135deg, #E7EF2D, #FFD36A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*service*************************************/
.service{
  background-color: #ffffff;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 78px;
}


.service_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.service_wrap_title{
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 50px;
  color: #0092C3;
  margin: 0 50px 80px 50px;
}

.service_wrap_card ul{
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.service_wrap_card ul li{
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.service_wrap_card_img{
  width: 348px;
  height: 300px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.service_wrap_card_img img:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
}

.service_wrap_card_textarea{
  text-align: left;
}

.service_wrap_card_textarea_title{
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 27px;
  position: relative;
  color: #0092C3;
}

.service_wrap_card_textarea_subtitle{
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.service_wrap_card_textarea_title::before{
  content: '';
  position: absolute;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 118px; /*下線の幅*/
  height: 4px; /*下線の太さ*/
  transform: translate(0%); /*位置調整*/
  background-color: #0092C3; /*下線の色*/
}

.service_wrap_card_textarea_text{
  font-size: 12px;
  margin-top: 10px;
  line-height: 30px;
  margin-bottom: 20px;
}

/*button************************start*/
.service_wrap_card_textarea_button a{
  background-color: #fff;
  position:relative;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding:18px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 264px;
  height: 52px;
  color: #0092C3;
  transition: 0.3s;
  border: 1px solid #0092C3;
}

.service_wrap_card_textarea_button a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 10px;
  height: 1px;
  background-color: #2285b1;
  transition: 0.3s;
}

.service_wrap_card_textarea_button a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #2285b1;
  transition: 0.3s;
}

.service_wrap_card_textarea_button a:hover::before,
.service_wrap_card_textarea_button a:hover::after {
  right: 0.5em;
}
/*button************************end*/

/*question*************************************/
.question{
  width: 100%;
  max-width: 1100px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 118px;
  gap: 40px;
}

.question_button{
  display: flex;
  gap: 40px;
}

.question_button a{
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  z-index: 2;
  padding: 1em 2em;
  width: 200px;
  height: 52px;
  color: #0092C3;
  border: 1px solid #0092C3;
}


.question_link a{
  background-color: #fff;
  position:relative;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  height: 52px;
  color: #0092C3;
}

.question_link a::before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 10px;
  height: 1px;
  background-color: #2285b1;
  transition: 0.3s;
}

.question_link a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  width: 200px;
  height: 1px;
  background-color: #2285b1;
  transition: 0.3s;
}

/*about*************************************/
.about{
  background-color: #ECFAFF;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 78px;
}

.about_wrap{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.about_wrap_title{
  font-size: 72px;
  font-weight: bold;
  color: #0092C3;
  display: inline-block;
  position: relative;
  margin-bottom: 70px;
}

.about_wrap_title::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 118px; /*下線の幅*/
  height: 6px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background: linear-gradient(-135deg, #E7EF2D, #FFD36A); /*下線の色*/
}

.about_wrap_card ul{
  display: flex;
  gap: 42px;
  justify-content: center;
  flex-wrap: wrap;
}


.about_wrap_card_item {
  width: 338px;
  height: 384px;
  border-radius: 30px;
	overflow:		hidden;
	position:		relative;	/* 相対位置指定 */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.about_wrap_card_item .about_wrap_card_item_mask_caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		80px;
	color:			rgb(0, 0, 0);
}

.about_wrap_card_item .about_wrap_card_item_mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
  padding: 70px 20px;
  line-height: 30px;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(255, 255, 255, 0.7);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.about_wrap_card_item:hover .about_wrap_card_item_mask {
	opacity:		1;	/* マスクを表示する */
}

.about_wrap_card_item:hover .about_wrap_card_item_textarea{
  opacity: 0.3;
}

.about_wrap_card_item_img{
  filter: brightness(70%);
}

.about_wrap_card_item_textarea_title{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #0092C3;
  background-color: #fff;
  width: 276px;
  height: 54px;
  border-radius: 30px;
  line-height: 55px;
  position: absolute;
  top: 25px;
  left: 30px;
  z-index: 3;
}

.about_wrap_card_item_textarea_text{
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
